<section class="main">
  <div class="container">
    <a href="/">
      <img title="Página inicial" src="/assets/Images/casa.svg" alt="casa" />
    </a>
    <div class="login-box">
      <h2>Cadastro</h2>
      <form>
        <div class="input-box">
          <input type="text" required />
          <label>Nome completo</label>
        </div>
        <div class="input-box">
          <input type="email" required />
          <label>Email</label>
        </div>
        <div class="input-box">
          <input type="password" required />
          <label>Senha</label>
        </div>
        <div class="input-box">
          <input type="password" required />
          <label>Repetir senha</label>
        </div>
        <div class="input-box">
          <input type="text" required />
          <label>Data de nascimento</label>
        </div>
        <div class="input-box policity">
          <input type="checkbox" required />
          <p>
            Li e concordo com a
            <a href="/policy-of-privacity">Política de privacidade</a>
          </p>
        </div>
        <div class="button-box">
          <button type="submit">Cadastrar</button>
        </div>
      </form>
      <div class="redirect">
        <p>Já possui uma conta? <a href="/auth-user/login">Entrar</a></p>
      </div>
    </div>
  </div>
</section>
