<header>
  <app-header-home />
</header>

<main class="main">
  <section class="section-slide">
    <div>
      <app-swiper-slide-home />
    </div>
  </section>
  <section class="my-posts">
    <div class="container-flex">
      <div class="post">
        <a href="/">
          <img src="/assets/Images/florest.jpg" alt="" />
        </a>
        <p class="created">
          Criado em: <span class="date">Junho, 20 2024</span>
        </p>
        <h1><a href="/">Santana.com</a></h1>
        <p class="info-post">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="post">
        <a href="/">
          <img src="/assets/Images/florest.jpg" alt="" />
        </a>
        <p class="created">
          Criado em: <span class="date">Junho, 20 2024</span>
        </p>
        <h1><a href="/">Santana.com</a></h1>
        <p class="info-post">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="post">
        <a href="/">
          <img src="/assets/Images/florest.jpg" alt="" />
        </a>
        <p class="created">
          Criado em: <span class="date">Junho, 20 2024</span>
        </p>
        <h1><a href="/">Santana.com</a></h1>
        <p class="info-post">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="post">
        <a href="/">
          <img src="/assets/Images/florest.jpg" alt="" />
        </a>
        <p class="created">
          Criado em: <span class="date">Junho, 20 2024</span>
        </p>
        <h1><a href="/">Santana.com</a></h1>
        <p class="info-post">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="post">
        <a href="/">
          <img src="/assets/Images/florest.jpg" alt="" />
        </a>
        <p class="created">
          Criado em: <span class="date">Junho, 20 2024</span>
        </p>
        <h1><a href="/">Santana.com</a></h1>
        <p class="info-post">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </section>
</main>

<footer>
  <app-footer-home />
</footer>
