.main {
  min-height: 100vh;
  background: var(--black900);
  box-sizing: border-box;
}
.disableElement {
  display: none;
}
.content-informations,
.description {
  display: grid;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
}
.box:hover,
.content-skills .skill:hover {
  transform: scale(1.1);
}
.content-skills .skill,
.project img {
  transition: 0.2s;
  aspect-ratio: 1;
  cursor: pointer;
}
.content-informations,
.courses-formations,
.description {
  grid-template-columns: repeat(2, 1fr);
}
.redirect-home a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.redirect-home:hover {
  cursor: pointer;
  background: var(--esmeraldHover);
}
.courses .container-image img,
.experiences .container-image img,
.formations .container-image img,
.redirect-home img {
  width: 2rem;
}
.about-me .style-border {
  border-bottom: 0.1rem solid var(--gray200);
  width: 50%;
  margin: 3rem auto;
  border-radius: 0.2rem;
}
.about-me .title-about {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--pictonBlue);
  padding-top: 1.5rem;
}
.about-me .title-about span {
  color: var(--esmerald);
}
.description p {
  color: var(--gray700);
}
.description span {
  font-weight: 700;
  color: var(--whiteFull);
}
.info {
  width: calc(100% - 11rem);
  margin: 3rem auto;
  min-height: 25rem;
}
.content-informations {
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.info .title-personal-informations {
  font-weight: 500;
  color: var(--pictonBlue);
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}
.description {
  width: 45rem;
  grid-column: 1;
}
.description div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.description button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: 0 0;
  border: 0.1rem solid var(--esmerald);
  color: var(--whiteFull);
  border-radius: 2rem;
  width: 14rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 0.7rem;
  margin-top: 1rem;
}
.redirect-home {
  display: flex;
  justify-content: center;
  position: fixed;
  background: var(--esmerald);
  top: 4rem;
  left: 0;
  width: 4rem;
  height: 3rem;
  border-radius: 0 2rem 2rem 0;
  transition: all 0.3s;
  z-index: 100;
  transform: translate(-75%);
}
.redirect-home:hover {
  transform: translate(-10%);
}
.redirect-home img {
  transition: all 0.3s;
}
.redirect-home:hover img {
  width: 2rem;
}
.redirect-home:not(:hover) img {
  display: none;
}
.description button::after,
.description button::before {
  right: 0;
  height: 100%;
  background: var(--esmerald);
  border-radius: 10rem;
  bottom: 0;
  content: "";
  position: absolute;
}
.box h1,
.project .created {
  color: var(--pictonBlue);
}
.description button::after {
  width: 3.3rem;
}
.description button::before {
  width: 0%;
  transition: 0.5s;
}
.description button:hover::before {
  width: 100%;
}
.description button span {
  font-size: 0.9rem;
  z-index: 1;
  position: relative;
}
.description button img {
  width: 1.6rem;
  z-index: 2;
}
.description a {
  text-decoration: none;
}
.container-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  grid-column: 2;
}
.box {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 25rem;
  border: 0.1rem solid var(--pictonBlue);
  border-radius: 0.3rem;
  transition: 0.2s ease-in-out;
}
.box:hover {
  cursor: pointer;
}
.box h1 {
  font-size: 3rem;
  font-weight: 500;
  padding: 1rem;
}
.box p {
  font-size: 1.2rem;
  color: var(--esmerald);
}
.container-skills h1 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--esmerald);
}
.about-me,
.container-skills,
.container-projects,
.courses-formations {
  min-height: 40rem;
}
.container-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem;
  max-width: calc(100% - 11rem);
  flex-wrap: wrap;
  margin-top: 3.5rem;
}
.content-skills .skill,
.container-boxes .box {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.content-skills .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  width: 8.5rem;
  border-top-left-radius: 2rem;
  background: var(--black800);
  position: relative;
}
.container-projects,
.project {
  display: flex;
  flex-direction: column;
}
.content-skills .skill::after {
  content: "";
  width: 100%;
  height: 0.24rem;
  background: linear-gradient(to right, var(--white900), var(--pictonBlue));
  bottom: 0;
  left: 0;
  position: absolute;
}
.content-skills .skill h4 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--pictonBlue);
}
.content-skills .skill img {
  width: 2.5rem;
  height: auto;
}
.container-projects .style-border-projects {
  border-bottom: 0.1rem solid var(--gray200);
  width: 50%;
  margin: 5rem auto;
  border-radius: 0.2rem;
}
.content-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.container-projects h1 {
  font-size: 3.2rem;
  margin: 0 auto 3rem auto;
  font-weight: 500;
  color: var(--esmerald);
}
.project img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  aspect-ratio: 2/1;
  border-radius: 0.5rem;
  box-sizing: border-box;
}
@keyframes animationLazy {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.project {
  gap: 0.7rem;
  max-width: 30rem;
  transform: translateX(-100%);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  opacity: 0;
}
.project.visible {
  animation: animationLazy 1.5s forwards;
}
.courses-formations .experiences,
.courses-formations .formations {
  flex-direction: column;
  gap: 1.2rem;
  grid-row: 1;
  width: 30rem;
  display: flex;
}
.project h2 {
  font-size: 1.9rem;
  color: var(--gray200);
  transition: color 0.2s ease-in-out;
}
.description-courses .date-inity:hover,
.description-courses .title-courses:hover,
.description-experience .date-inity:hover,
.description-experience .title-experience:hover,
.description-formation .date-inity:hover,
.description-formation .title-formation:hover,
.project h2:hover {
  color: var(--gray100);
  cursor: pointer;
}
.project p {
  font-size: 1.1rem;
  color: var(--gray600);
  transition: color 0.2s ease-in-out;
}
.description-courses .institution:hover,
.description-experience .company:hover,
.description-formation .university:hover,
.project p:hover {
  color: var(--gray500);
  cursor: pointer;
}
.project .created:hover {
  color: var(--mayaBlue);
}
.project .date {
  color: var(--gray700);
  transition: color 0.2s ease-in-out;
}
.project .date:hover {
  color: var(--gray200);
}
.courses-formations {
  display: grid;
  grid-template-rows: auto auto;
  gap: 5rem;
}
.courses-formations .formations {
  justify-self: center;
  grid-column: 1;
  justify-self: center;
}
.courses-formations .experiences {
  grid-column: 2;
  justify-self: center;
}
.courses-formations .courses {
  display: flex;
  flex-direction: column;
  justify-self: center;
  grid-column: 1;
  grid-row: 2;
  width: 30rem;
  padding-bottom: 10rem;
}
.courses-formations .formations,
.courses-formations .experiences,
.courses-formations .courses {
  transform: translateX(-100%);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  opacity: 0;
}
.courses-formations .formations.visible,
.courses-formations .experiences.visible,
.courses-formations .courses.visible {
  animation: animationLazy 1.5s forwards;
}
.courses .flex-courses,
.experiences .flex-experiences,
.formations .flex-formations {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.flex-courses .course,
.flex-experiences .experience,
.flex-formations .formation {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.flex-courses .course {
  padding-bottom: 2rem;
}
.courses .container-image,
.experiences .container-image,
.formations .container-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--pictonBlue);
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  padding: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.description-courses .date-inity,
.description-experience .date-inity,
.description-formation .date-inity {
  color: var(--gray200);
  background: var(--black800);
  width: 13rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.1rem;
  transition: color 0.2s ease-in-out;
}
.description-courses .title-courses,
.description-experience .title-experience,
.description-formation .title-formation {
  color: var(--gray200);
  transition: color 0.2s ease-in-out;
  font-weight: 500;
  font-size: 1.1rem;
}
.description-courses .institution,
.description-experience .company,
.description-formation .university {
  color: var(--gray600);
  transition: color 0.2s ease-in-out;
}
.courses-formations .courses h1,
.courses-formations .experiences h1,
.courses-formations .formations h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--esmerald);
  margin-bottom: 1rem;
}
