<section class="grid-swiper">
  <div class="container-image">
    <img src="/assets/Images/micael.png" alt="" />
  </div>
  <div class="info-slide">
    <p class="created">Criado em: <span class="date">Junho, 17 2024</span></p>
    <h1>Quem é Micael Santana?</h1>
    <p>
      Micael Santana é um desenvolvedor fullstack jr e entusiasta da tecnologia.
      Começou sua carreia em AGO/2021 estudando front-end. Formado em Análise e
      Desenvolvimento de Sistemas na Universidade Norte do Paraná (UNOPAR) em
      JUN/2024.
    </p>
    <a href="/about-me">Ver mais...</a>
  </div>
  <!-- <div class="container-circle">
    <div class="circle active"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div> -->
</section>
