<section class="grid-swiper">
  <div class="container-image">
    <img src="/assets/Images/florest.jpg" alt="" />
  </div>
  <div class="info-slide">
    <p class="created">Criado em: <span class="date">Junho, 17 2024</span></p>
    <h1>Este é meu post recente</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </div>
</section>
