<nav class="nav-bar">
  <ul class="list-items">
    <div class="container-search">
      <li class="item">
        <a href="/">Micael <span> Santana </span></a>
        <input type="text" placeholder="search..." />
        <button type="button">
          <img src="/assets/Images/procurar.svg" alt="imagem de uma lupa" />
        </button>
      </li>
    </div>
    <div class="container-auth">
      <li class="item">
        <a href="/auth-user/register">Crie sua conta</a>
        <a href="/auth-user/login">Entre</a>
        <!-- 
        Aparecerá condicionalmente, conforme autenticação    
        <img src="" alt="foto do usuário" />
        <img src="/assets/Images/saida.png" alt="sair da conta" />
        -->
      </li>
    </div>
  </ul>
</nav>
