<header class="header">
  <nav class="mobile-header">
    <article>
      <div class="menu-icon-desktop" id="menu-icon">
        <button class="icon-burguer" (click)="toggleMobileMenu($event)">
          ☰
        </button>
        <p class="name">Micael <span>Santana</span></p>
      </div>
    </article>
  </nav>

  @if (isMobileMenuOpen()) {
  <div class="disable-menu-mobile" (click)="toggleMobileMenu($event)"></div>

  <nav
    class="mobile-navigate"
    animate.enter="enter-in-screen-animation"
    animate.leave="leave-off-screen-animation"
  >
    <ul class="mobile-menu">
      <h1>Micael <span>Santana</span></h1>
      @for (link of navLinks; track link.id) {
      <li>
        <img [src]="link.icon" alt="ícones" />
        <a [href]="'#' + link.fragment" (click)="toggleMobileMenu($event)">{{
          link.id
        }}</a>
      </li>
      }
    </ul>
  </nav>
  }

  <nav class="menu-navigate">
    <ul class="desktop-menu">
      @for (link of navLinks; track link.id) {
      <li>
        <a [href]="'#' + link.fragment">{{ link.labelKey | translate }}</a>
      </li>
      }
    </ul>

    <article class="page-mode-menu">
      <section class="mode-list">
        <div class="container">
          <input type="checkbox" name="checkbox" id="checkbox" checked />
          <label for="checkbox" class="label"> </label>
        </div>
      </section>

      <section class="preferences">
        <img
          src="/assets/Images/ui-icons/world-language.svg"
          alt="Mudar idioma"
          title="Mudar idioma"
          (click)="toggleLanguageDropdown($event)"
        />

        @if (isDropdownLanguageOpen()) {
        <div class="backdrop" (click)="toggleLanguageDropdown($event)"></div>

        <nav class="language">
          <ul>
            @for (flag of flags; track flag.id) {
            <li (click)="changeLanguagePage(flag.lang)">
              <img src="{{ flag.icon }}" alt="" />
              <p>{{ flag.labelKey | translate }}</p>
            </li>
            }
          </ul>
        </nav>

        }
      </section>
    </article>
  </nav>
</header>

<main class="main">
  <section class="who-i-am" id="home">
    <div class="content-me">
      <h2>
        {{ "home.i-am" | translate }}

        <span class="blue-name"> {{ "personal.values.name" | translate }} </span
        ><span class="green-name">
          {{ "personal.values.surname" | translate }}
        </span>
        {{ "home.text" | translate }}
      </h2>

      <figure class="container-image">
        <img src="/assets/Images/my-images/eu.png" alt="minha foto" />
      </figure>
    </div>
    <div class="style-border"></div>
  </section>

  <section class="about-me" id="about-me">
    <h1>
      <span class="blue-name">
        {{ "all-titles.about-before" | translate }}
      </span>
      <span class="green-name">{{ "all-titles.about-after" | translate }}</span>
    </h1>

    <div class="info">
      <h2 class="title-personal-informations">
        {{ "about-me.personal-informations" | translate }}
      </h2>

      <div class="content-informations">
        <div class="description">
          <div class="informations-1">
            <p>
              {{ "personal.labels.full-name" | translate }}:
              <span>{{ "personal.values.full-name" | translate }}</span>
            </p>
            <p>
              {{ "personal.labels.age" | translate }}:
              <span
                >{{ calcMyAge() }}
                {{ "personal.units.years" | translate }}</span
              >
            </p>
            <p>
              {{ "personal.labels.languages" | translate }}:
              <span> {{ "personal.values.languages" | translate }}</span>
            </p>
            <p>
              {{ "personal.labels.marital-status" | translate }}:
              <span> {{ "personal.values.marital-status" | translate }}</span>
            </p>
            <p>
              {{ "personal.labels.whatsapp" | translate }}:
              <span> {{ "personal.values.whatsapp" | translate }}</span>
            </p>

            <a
              href="/assets/Documents/curriculo.pdf"
              class="curriculum-link"
              download="curriculo.pdf"
            >
              <button class="download-pdf-button">
                <span>Currículo</span>
                <div>
                  <img src="/assets/Images/ui-icons/download.svg" alt="" />
                </div>
              </button>
            </a>
          </div>
          <div class="informations-2">
            <p>
              {{ "personal.labels.degree" | translate }}:
              <span> {{ "personal.values.degree-name" | translate }}</span>
            </p>
            <p>
              {{ "personal.labels.e-mail" | translate }}:
              <span> {{ "personal.values.e-mail" | translate }}</span>
            </p>
            <p>
              {{ "personal.labels.availability" | translate }}:
              <span> {{ "personal.values.availability" | translate }}</span>
            </p>
            <p>
              {{ "personal.labels.city" | translate }}:
              <span> {{ "personal.values.city" | translate }}</span>
            </p>
            <p>
              {{ "personal.labels.freelance" | translate }}:
              <span> {{ "personal.values.freelance" | translate }}</span>
            </p>

            <a
              href="/assets/Documents/diploma.pdf"
              class="certificate-link"
              download="diploma.pdf"
            >
              <button class="download-pdf-button">
                <span>Diploma</span>
                <div>
                  <img src="/assets/Images/ui-icons/download.svg" alt="" />
                </div>
              </button>
            </a>
          </div>

          <section class="documents-links"></section>
        </div>
        <div class="container-boxes">
          <div class="box">
            <h2>10</h2>
            <p>Certificados</p>
          </div>
          <div class="box">
            <h2>1</h2>
            <p>Graduação</p>
          </div>
          <div class="box">
            <h2>7</h2>
            <p>Projetos</p>
          </div>
          <div class="box">
            <h2>7</h2>
            <p>Deploys</p>
          </div>
        </div>
      </div>
    </div>
    <div class="style-border"></div>
  </section>

  <section class="container-skills" id="skills">
    <h1>Habilidades</h1>
    @defer (on viewport) {
    <div class="content-skills" animate.enter="enter-in-screen-animation">
      <div class="skill">
        <h4>Angular</h4>
        <img
          src="/assets/Images/icons-stacks/angular.svg"
          loading="lazy"
          alt="Angular"
        />
      </div>
      <div class="skill">
        <h4>Typescript</h4>
        <img
          src="/assets/Images/icons-stacks/typescript.svg"
          loading="lazy"
          alt="Typescript"
        />
      </div>
      <div class="skill">
        <h4>NestJS</h4>
        <img
          src="/assets/Images/icons-stacks/nestjs.svg"
          loading="lazy"
          alt="NestJS"
        />
      </div>
      <div class="skill">
        <h4>Node</h4>
        <img
          src="/assets/Images/icons-stacks/node.svg"
          loading="lazy"
          alt="NodeJS"
        />
      </div>
      <div class="skill">
        <h4>Express</h4>
        <img
          src="/assets/Images/icons-stacks/express.svg"
          loading="lazy"
          alt="Express"
        />
      </div>
      <div class="skill">
        <h4>Javascript</h4>
        <img
          src="/assets/Images/icons-stacks/javascript.svg"
          loading="lazy"
          alt="Javascript"
        />
      </div>
      <div class="skill">
        <h4>PHP</h4>
        <img
          src="/assets/Images/icons-stacks/php.svg"
          loading="lazy"
          alt="PHP"
        />
      </div>
      <div class="skill">
        <h4>Java</h4>
        <img
          src="/assets/Images/icons-stacks/java.svg"
          loading="lazy"
          alt="Java"
        />
      </div>
      <div class="skill">
        <h4>React</h4>
        <img
          src="/assets/Images/icons-stacks/react.svg"
          loading="lazy"
          alt="React"
        />
      </div>
      <div class="skill">
        <h4>NextJS</h4>
        <img
          src="/assets/Images/icons-stacks/nextjs.svg"
          loading="lazy"
          alt="NextJS"
        />
      </div>
      <div class="skill">
        <h4>HTML5</h4>
        <img
          src="/assets/Images/icons-stacks/html.svg"
          loading="lazy"
          alt="HTML5"
        />
      </div>
      <div class="skill">
        <h4>CSS</h4>
        <img
          src="/assets/Images/icons-stacks/css.svg"
          loading="lazy"
          alt="CSS3"
        />
      </div>
      <div class="skill">
        <h4>PostgreSQL</h4>
        <img
          src="/assets/Images/icons-stacks/postgresql.svg"
          loading="lazy"
          alt="PostgreSQL"
        />
      </div>
      <div class="skill">
        <h4>Mysql</h4>
        <img
          src="/assets/Images/icons-stacks/mysql.svg"
          loading="lazy"
          alt="Mysql"
        />
      </div>
      <div class="skill">
        <h4>Git</h4>
        <img
          src="/assets/Images/icons-stacks/git.svg"
          loading="lazy"
          alt="Git"
        />
      </div>
    </div>
    } @placeholder {
    <p></p>
    }
    <div class="style-border"></div>
  </section>

  <section class="container-projects" id="projects">
    <h1>Projetos</h1>
    <div class="content-projects">
      @defer (on viewport) {
      <div class="project" animate.enter="enter-in-screen-animation">
        <a
          href="https://isantanaah.github.io/inverted-world/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            ngSrc="/assets/Images/projects/inverted-world.png"
            alt="Mundo Invertido"
            width="1900"
            height="949"
            priority
          />
        </a>
        <p class="created">
          Criado em: <span class="date">Agosto, 30 2022</span>
        </p>
        <h2>Mundo Invertido</h2>
        <p>Desafio Semana Front-end DIO, feito com HTML, CSS e Javascript</p>
      </div>
      <div class="project" animate.enter="enter-in-screen-animation">
        <a
          href="https://isantanaah.github.io/nubank-site/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            ngSrc="/assets/Images/projects/copy-nubank.png"
            alt="Nubank"
            width="1899"
            height="947"
            priority
          />
        </a>
        <p class="created">
          Criado em: <span class="date">Junho, 7 2023</span>
        </p>
        <h2>Nubank Site</h2>
        <p>
          Cópia do Nubank Oficial feita por mim com HTML e CSS a fim aprendizado
          pessoal.
        </p>
      </div>
      <div class="project" animate.enter="enter-in-screen-animation">
        <a
          href="https://estrelaguia.vercel.app/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            ngSrc="/assets/Images/projects/blog-star-guide.png"
            alt="Estrela Guia"
            width="1902"
            height="950"
            priority
          />
        </a>
        <p class="created">
          Criado em: <span class="date">Novembro, 27 2023</span>
        </p>
        <h2>Estrela Guia</h2>
        <p>Blog de um freelance feito com NextJS, PostgreSQL e NodeJS.</p>
      </div>

      <div class="project" animate.enter="enter-in-screen-animation">
        <a
          href="https://isantanaah.github.io/senhor_lei/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            ngSrc="/assets/Images/projects/sir-law.png"
            alt="Senhor da Lei"
            width="1900"
            height="955"
            priority
          />
        </a>
        <p class="created">
          Criado em: <span class="date">Abril, 8 2023</span>
        </p>
        <h2>Senhor da Lei</h2>
        <p>Site desenvolvido com HTML e CSS usando o efeito Parallax.</p>
      </div>

      <div class="project" animate.enter="enter-in-screen-animation">
        <a
          href="https://isantanaah.github.io/lanchonete/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            ngSrc="/assets/Images/projects/happy-snacks.png"
            alt="Happy Lanches"
            width="1893"
            height="954"
            priority
          />
        </a>
        <p class="created">
          Criado em: <span class="date">Maio, 22 2023</span>
        </p>
        <h2>Happy Lanches</h2>
        <p>
          Landing page de uma lanchonete feita com HTML e CSS com intuíto de
          aprimorar meus conhecimentos em cards
        </p>
      </div>

      <div class="project" animate.enter="enter-in-screen-animation">
        <a
          href="https://github.com/iSantanaaH/CalculatorIMC"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            ngSrc="/assets/Images/projects/calculatorImc.png"
            alt="Calculadora de IMC"
            width="1883"
            height="915"
            priority
          />
        </a>
        <p class="created">
          Criado em: <span class="date">Setembro, 11 2023</span>
        </p>
        <h2>Calculadora de IMC</h2>
        <p>
          Calculadora de IMC feito com React e Node. O intuíto do projeto foi
          aprimorar minhas habilidades em comunição do front-end com o back-end
        </p>
      </div>

      } @placeholder {
      <p></p>
      }
    </div>
    <div class="style-border"></div>
  </section>

  <section class="courses-formations" id="trajectory">
    @defer (on viewport) {
    <div class="formations" animate.enter="enter-in-screen-animation">
      <h1>Formações</h1>
      <div class="flex-formations">
        <div class="formation">
          <div class="container-image">
            <img
              loading="lazy"
              src="/assets/Images/ui-images/formatura.png"
              alt="formatura"
            />
          </div>
          <div class="description-formation">
            <p class="date-inity">16/02/2022 - 25/05/2024</p>
            <h2 class="title-formation">
              Análise e Desenvolvimento de Sistemas
            </h2>
            <p class="university">Universidade Norte do Paraná (UNOPAR)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="experiences" animate.enter="enter-in-screen-animation">
      <h1>Experiências</h1>
      <div class="flex-experiences">
        <div class="experience">
          <div class="container-image">
            <img
              loading="lazy"
              src="/assets/Images/ui-images/job.png"
              alt="trabalho"
            />
          </div>
          <div class="description-experience">
            <p class="date-inity">21/08/2021 - 09/04/2022</p>
            <h2 class="title-experience">Estágio Desenvolvedor Web Angular</h2>
            <p class="company">Kinyx Tecnologia</p>
          </div>
        </div>
      </div>
    </div>
    <div class="courses" animate.enter="enter-in-screen-animation">
      <h1>Cursos</h1>
      <div class="flex-courses">
        <div class="course">
          <div class="container-image">
            <img
              loading="lazy"
              src="/assets/Images/ui-images/parchment.png"
              alt="pergaminho"
            />
          </div>
          <div class="description-courses">
            <p class="date-inity">Concluído</p>
            <h2 class="title-courses">Curso de Angular 2 (v17+)</h2>
            <p class="institution">Udemy - Dener Troquatte</p>
          </div>
        </div>
        <div class="course">
          <div class="container-image">
            <img
              loading="lazy"
              src="/assets/Images/ui-images/parchment.png"
              alt="pergaminho"
            />
          </div>
          <div class="description-courses">
            <p class="date-inity">Concluído</p>
            <h2 class="title-courses">Typescript do básico ao avançado</h2>
            <p class="institution">Udemy - Matheus Battisti</p>
          </div>
        </div>
        <div class="course">
          <div class="container-image">
            <img
              loading="lazy"
              src="/assets/Images/ui-images/parchment.png"
              alt="pergaminho"
            />
          </div>
          <div class="description-courses">
            <p class="date-inity">Concluído</p>
            <h2 class="title-courses">Node.js do Zero a Maestria</h2>
            <p class="institution">Udemy</p>
          </div>
        </div>
        <div class="course">
          <div class="container-image">
            <img
              loading="lazy"
              src="/assets/Images/ui-images/parchment.png"
              alt="pergaminho"
            />
          </div>
          <div class="description-courses">
            <p class="date-inity">Concluído</p>
            <h2 class="title-courses">Design de banco de dados</h2>
            <p class="institution">Udemy - Matheus Battisti</p>
          </div>
        </div>
        <div class="course">
          <div class="container-image">
            <img
              loading="lazy"
              src="/assets/Images/ui-images/parchment.png"
              alt="pergaminho"
            />
          </div>
          <div class="description-courses">
            <p class="date-inity">Concluído</p>
            <h2 class="title-courses">PHP do Zero a Maestria</h2>
            <p class="institution">Udemy - Matheus Battisti</p>
          </div>
        </div>
        <div class="course">
          <div class="container-image">
            <img
              loading="lazy"
              src="/assets/Images/ui-images/parchment.png"
              alt="pergaminho"
            />
          </div>
          <div class="description-courses">
            <p class="date-inity">Concluído</p>
            <h2 class="title-courses">SQL do básico ao avançado</h2>
            <p class="institution">Udemy - Matheus Battisti</p>
          </div>
        </div>
      </div>
    </div>
    } @placeholder {
    <p></p>
    }
  </section>
</main>

<footer class="footer">
  <section class="cotact-me" id="contact-me">
    <h1 class="blue-name">Fale <span class="green-name">comigo</span></h1>
  </section>

  <section class="social-networks">
    <a
      href="https://wa.me/5575999468431?text=Olá,%20vim%20pelo%20seu%20portfólio!"
      target="_blank"
      rel="noopener noreferrer"
      title="Whatsapp"
    >
      <img src="/assets/Images/ui-images/whatsapp.png" alt="Ícone Whatsapp" />
    </a>

    <a
      href="https://www.instagram.com/micael.dev/"
      target="_blank"
      rel="noopener noreferrer"
      title="Instagram"
    >
      <img
        src="/assets/Images/ui-images/instagram.png"
        alt="Ícone Instragram"
      />
    </a>

    <a
      href="https://github.com/iSantanaaH"
      target="_blank"
      rel="noopener noreferrer"
      title="Github"
    >
      <img src="/assets/Images/ui-images/github.png" alt="Ícone Github" />
    </a>
  </section>
  <section class="credits">
    <h3 class="blue-name">
      Micael <span class="green-name">Santana</span>
      <span class="blue-name"> 2025</span> &copy;
    </h3>
  </section>
</footer>
