@keyframes fadeInScreen {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOutScreen {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.enter-in-screen-animation {
  animation: fadeInScreen 1.5s forwards;
}

.leave-off-screen-animation {
  animation: fadeOutScreen 1.5s forwards;
}

ul li {
  list-style: none;
}

section {
  scroll-margin-top: 8rem;
}

.about-me h1,
.container-skills h1,
.container-projects h1,
.courses-formations h1 {
  cursor: pointer;
}

.container-image,
.container-image img,
.content-me h2,
.container-skills .skill,
.about-me h1,
.container-skills h1,
.container-projects h1,
.courses-formations h1,
.about-me .title-personal-informations,
.about-me .box {
  user-select: none; /* impede o usuário de selecionar no Android*/
  -moz-user-select: none; /* impede o usuário de selecionar no iOS*/
  -webkit-user-drag: none; /* impede o usuário de arrastar */
  -webkit-tap-highlight-color: transparent; /* Remove o highlight azul */
  -webkit-touch-callout: none;
}

.header {
  position: fixed;
  width: 100%;
  background: var(--pictonBlue);
  z-index: 100;
}

.desktop-menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.desktop-menu a {
  color: var(--whiteFull);
  text-decoration: none;
  font-size: 1.3rem;
}

.blue-name {
  color: var(--pictonBlue);
}

.green-name {
  color: var(--esmerald);
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--black900);
  box-sizing: border-box;
}

.disableElement {
  display: none;
}

.content-informations,
.description {
  display: grid;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
}

.box:hover,
.content-skills .skill:hover {
  transform: scale(1.1);
}

.content-skills .skill,
.project img {
  transition: 0.2s;
  aspect-ratio: 1;
  cursor: pointer;
}

.container-image {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.content-me img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-informations,
.courses-formations,
.description {
  grid-template-columns: repeat(2, 1fr);
}

.redirect-home a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.redirect-home:hover {
  cursor: pointer;
  background: var(--esmeraldHover);
}

.courses .container-image img,
.experiences .container-image img,
.formations .container-image img,
.redirect-home img {
  width: 2rem;
}

.style-border {
  border-bottom: 0.15rem solid var(--gray200);
  width: 50%;
  margin: 6rem auto;
  border-radius: 0.2rem;
}

.title-about,
.title-personal-informations {
  text-align: center;
  color: var(--pictonBlue);
}

.description p,
.who-i-am h2 {
  color: var(--whiteFull);
  cursor: pointer;
}

.description span {
  font-weight: 700;
  color: var(--whiteFull);
}

.info .title-personal-informations {
  color: var(--pictonBlue);
}

.description div {
  display: flex;
  flex-direction: column;
}

.download-pdf-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: 0 0;
  border: 0.1rem solid var(--esmerald);
  color: var(--whiteFull);
  border-radius: 2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 0.7rem;
  margin-top: 1rem;
}

.download-pdf-button::after,
.download-pdf-button::before {
  right: 0;
  height: 100%;
  background: var(--esmerald);
  border-radius: 10rem;
  bottom: 0;
  content: "";
  position: absolute;
}

.box h1,
.project .created {
  color: var(--pictonBlue);
}

.download-pdf-button::after {
  width: 3.3rem;
}

.download-pdf-button::before {
  width: 0%;
  transition: 0.5s;
}

.download-pdf-button:hover::before {
  width: 100%;
}

.download-pdf-button span {
  z-index: 1;
  position: relative;
}

.download-pdf-button img {
  width: 1.6rem;
  z-index: 2;
}

.description a {
  text-decoration: none;
}

.container-boxes {
  display: flex;
}

.box {
  display: flex;
  align-items: center;
  border: 0.1rem solid var(--pictonBlue);
  transition: 0.2s ease-in-out;
}

.box:hover {
  cursor: pointer;
}

.box p {
  color: var(--esmerald);
}

.container-skills h1,
.container-projects h1 {
  text-align: center;
  color: var(--esmerald);
}

.content-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.content-skills .skill,
.container-boxes .box {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.content-skills .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 2rem;
  background: var(--black800);
  position: relative;
}

.content-skills .skill::after {
  content: "";
  width: 100%;
  height: 0.24rem;
  background: linear-gradient(to right, var(--esmerald), var(--pictonBlue));
  bottom: 0;
  left: 0;
  position: absolute;
}

.content-skills .skill h4 {
  font-weight: 400;
  color: var(--pictonBlue);
}

.content-skills .skill img {
  height: auto;
}

.content-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.container-projects h1,
.container-skills h1 {
  color: var(--esmerald);
  margin-bottom: 3rem;
}

.project img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  aspect-ratio: 2/1;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.project img:hover {
  transform: scale(1.03);
}

.courses-formations .experiences,
.courses-formations .formations {
  flex-direction: column;
  gap: 1.2rem;
  grid-row: 1;
  width: 30rem;
  display: flex;
}

.project h2 {
  margin-top: 0.5rem;
  color: var(--gray200);
  transition: color 0.2s ease-in-out;
}

.description-courses .date-inity:hover,
.description-courses .title-courses:hover,
.description-experience .date-inity:hover,
.description-experience .title-experience:hover,
.description-formation .date-inity:hover,
.description-formation .title-formation:hover,
.project h2:hover {
  color: var(--gray100);
  cursor: pointer;
}

.project p {
  color: var(--gray600);
  transition: color 0.2s ease-in-out;
}

.description-courses .institution:hover,
.description-experience .company:hover,
.description-formation .university:hover,
.project p:hover {
  color: var(--gray500);
  cursor: pointer;
}

.project .created:hover {
  color: var(--mayaBlue);
}

.project .date {
  color: var(--gray700);
  transition: color 0.2s ease-in-out;
}

.project .date:hover {
  color: var(--gray200);
}

.courses-formations {
  display: grid;
  grid-template-rows: auto auto;
  gap: 5rem;
}

.courses-formations .formations {
  justify-self: center;
  grid-column: 1;
  justify-self: center;
}

.courses-formations .experiences {
  grid-column: 2;
  justify-self: center;
}

.courses-formations .courses {
  display: flex;
  flex-direction: column;
  justify-self: center;
  grid-column: 1;
  grid-row: 2;
  width: 30rem;
  padding-bottom: 10rem;
}

.courses .flex-courses,
.experiences .flex-experiences,
.formations .flex-formations {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.flex-courses .course,
.flex-experiences .experience,
.flex-formations .formation {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.flex-courses .course {
  padding-bottom: 2rem;
}

.courses .container-image,
.experiences .container-image,
.formations .container-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--pictonBlue);
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  padding: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.description-courses .date-inity,
.description-experience .date-inity,
.description-formation .date-inity {
  color: var(--gray200);
  background: var(--black800);
  width: 13rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.1rem;
  transition: color 0.2s ease-in-out;
}

.description-courses .title-courses,
.description-experience .title-experience,
.description-formation .title-formation {
  color: var(--gray200);
  transition: color 0.2s ease-in-out;
  font-weight: 500;
}

.description-courses .institution,
.description-experience .company,
.description-formation .university {
  color: var(--gray600);
  transition: color 0.2s ease-in-out;
}

.courses-formations .courses h1,
.courses-formations .experiences h1,
.courses-formations .formations h1 {
  font-weight: 500;
  color: var(--esmerald);
  margin-bottom: 1rem;
}
