@keyframes animationLazy {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .menu-icon-desktop {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu,
  .icon-burguer,
  .name {
    cursor: pointer;
  }

  .menu-icon-desktop {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 60%;
    height: 100%;
    background: var(--black750);
    gap: 0.5rem;
    z-index: 100;
  }

  .disable-menu-mobile {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--gray750);
    z-index: 2;
    opacity: 0.7;
  }

  .mobile-menu h1 {
    color: var(--pictonBlue);
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
  }

  .mobile-menu span {
    color: var(--esmerald);
  }

  .mobile-menu img {
    width: 2rem;
  }

  .mobile-menu li {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 1rem;
  }

  .icon-burguer {
    padding-left: 0.5rem;
    font-size: 1.2rem;
  }

  .name {
    display: flex;
    gap: 0.3rem;
    font-size: 1.1rem;
    color: var(--pictonBlue);
  }

  .name span {
    color: var(--green500);
  }

  .mobile-menu a {
    color: var(--whiteFull);
    text-decoration: none;
    font-size: 1.2sarem;
    gap: 0.5rem;
    z-index: 10;
  }

  .content-me {
    display: flex;
    flex-direction: column;
  }

  .about-me .title-about,
  .container-skills h1 {
    font-size: 2rem;
    padding-top: 1rem;
    text-align: center;
  }

  .info {
    width: 100%;
  }

  .info .title-personal-informations {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .content-informations {
    display: flex;
    flex-direction: column;
  }

  .description {
    display: flex;
    flex-direction: column;
    width: calc(100% - 3rem);
  }

  .description div {
    margin-bottom: 0.6rem;
  }

  .content-skills .skill h4,
  .description button span,
  .description p,
  .description span,
  .description-courses .institution,
  .description-experience .company,
  .description-formation .university {
    font-size: 0.8rem;
  }

  .description button {
    height: 3rem;
    margin: 1rem 0 3rem;
  }

  .container-boxes {
    gap: 1rem;
  }

  .box {
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    width: 14rem;
    height: 5rem;
    margin: 0 auto;
  }

  .container-projects,
  .container-skills {
    width: 100%;
    display: flex;
  }

  .box h1 {
    font-size: 2rem;
  }

  .box p {
    font-size: 1rem;
  }

  .content-skills {
    max-width: calc(100% - 2rem);
  }

  .container-skills .content-skills {
    transform: translateX(-100%);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    opacity: 0;
  }

  .container-skills .content-skills.visible {
    animation: animationLazy 1.5s forwards;
  }

  .content-skills .skill {
    width: 6.5rem;
  }

  .content-skills .skill img {
    width: 2rem;
  }

  .container-projects {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
  }

  .courses-formations .courses,
  .courses-formations .experiences,
  .courses-formations .formations,
  .project {
    width: calc(100% - 2rem);
    margin: 0 auto;
  }

  .container-projects img {
    height: 14rem;
    aspect-ratio: 1;
  }

  .container-projects h1 {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 3rem;
  }

  .description-courses .title-courses,
  .description-experience .title-experience,
  .description-formation .title-formation,
  .project p {
    font-size: 0.9rem;
  }

  .project h2 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .courses-formations {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .courses-formations .courses h1,
  .courses-formations .experiences h1,
  .courses-formations .formations h1 {
    font-size: 1.7rem;
  }

  .courses .container-image img,
  .experiences .container-image img,
  .formations .container-image img {
    width: 1.5rem;
    padding: 0.1rem;
    aspect-ratio: 1;
  }

  .flex-courses .course,
  .flex-experiences .experience,
  .flex-formations .formation {
    gap: 1rem;
    width: calc(100vw - 2rem);
  }

  .courses .container-image,
  .experiences .container-image,
  .formations .container-image {
    width: 2rem;
    height: 2rem;
  }

  .description-courses .date-inity,
  .description-experience .date-inity,
  .description-formation .date-inity {
    font-size: 0.9rem;
    width: 12rem;
    padding: 0.2rem;
  }

  .courses .container-image::after,
  .experiences .container-image::after,
  .formations .container-image::after {
    left: 1.125rem;
    top: 2.4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .menu-navigate {
    gap: 1rem;
    padding: 1rem;
  }

  .title-about {
    font-size: 3.2rem;
    font-weight: 500;
    padding-top: 1.5rem;
  }

  .my-image {
    width: 90vw;
    border-radius: 100%;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .info {
    width: calc(100% - 11rem);
    margin: 3rem auto;
    height: 40vh;
  }

  .content-informations {
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .info .title-personal-informations {
    font-weight: 500;
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
  }

  .description {
    width: 38vw;
    grid-column: 1;
  }

  .description div {
    gap: 1rem;
  }

  .download-pdf-button {
    width: 14rem;
  }

  .container-boxes {
    gap: 1.5rem;
    grid-column: 2;
  }

  .box {
    gap: 1rem;
    width: 25rem;
    border-radius: 0.3rem;
  }

  .box h1 {
    font-size: 3rem;
    padding: 1rem;
  }

  .box p {
    font-size: 1.2rem;
  }

  .container-skills h1 {
    font-size: 3.2rem;
  }

  .content-skills {
    gap: 2rem;
    padding: 0.5rem;
    max-width: calc(100% - 11rem);
    margin-top: 3.5rem;
  }

  .content-skills .skill {
    gap: 0.4rem;
    width: 8.5rem;
  }

  .content-skills .skill h4 {
    font-size: 1rem;
  }

  .content-skills .skill img {
    width: 2.5rem;
  }

  .container-projects h1 {
    font-size: 3.2rem;
  }

  .project {
    gap: 0.7rem;
    max-width: 30rem;
  }

  .courses-formations .experiences,
  .courses-formations .formations {
    flex-direction: column;
    gap: 1.2rem;
    grid-row: 1;
    width: 30rem;
    display: flex;
  }
}
