@keyframes mobileMenuFadeIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes mobileMenuFadeOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.enter-in-screen-animation {
  animation: mobileMenuFadeIn 1.5s forwards;
}

.leave-off-screen-animation {
  animation: mobileMenuFadeOut 1.5s forwards;
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .menu-icon-desktop {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  /* Header */
  .menu-navigate {
    display: none;
  }

  .main {
    padding-top: 6rem;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-menu,
  .icon-burguer,
  .name {
    cursor: pointer;
  }

  .menu-icon-desktop {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .mobile-header {
    padding: 0.7rem;
  }

  .mobile-header button {
    background: none;
    border: none;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
  }

  .disable-menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gray750);
    opacity: 0.8;
  }

  .mobile-navigate {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: var(--black800);
    z-index: 100;
  }

  .mobile-menu h1 {
    color: var(--pictonBlue);
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
  }

  .mobile-menu span {
    color: var(--esmerald);
  }

  .mobile-menu img {
    width: 2rem;
  }

  .mobile-menu li {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 1rem 0 1rem 1.5rem;
  }

  .icon-burguer {
    padding-left: 0.5rem;
    font-size: 1.2rem;
  }

  .name {
    display: flex;
    gap: 0.3rem;
    font-size: 1.1rem;
    color: var(--whiteFull);
  }

  .name span {
    color: var(--malachite);
  }

  .mobile-menu a {
    color: var(--whiteFull);
    text-decoration: none;
    font-size: 1.2sarem;
    gap: 0.5rem;
    z-index: 10;
  }

  /* Main */

  .content-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .who-i-am h2 {
    width: calc(100% - 4rem);
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
  }

  .content-me img {
    width: calc(100% - 4rem);
    max-width: 30rem;
  }

  .about-me .title-about,
  .container-skills h1,
  .about-me h1,
  .container-projects h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  .info .title-personal-informations {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .content-informations {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: calc(100% - 2rem);
    gap: 1rem;
  }

  .description a {
    display: flex;
    width: 60%;
    margin: 0 auto;
  }

  .description .download-pdf-button {
    flex-grow: 1;
  }

  .description .informations-1 p,
  .description .informations-2 p {
    font-size: 0.8rem;
  }

  .description .informations-1 span,
  .description .informations-2 span {
    font-size: 0.83rem;
  }

  .content-skills .skill h4,
  .description .download-pdf-button span,
  .description p,
  .description span,
  .description-courses .institution,
  .description-experience .company,
  .description-formation .university {
    font-size: 0.8rem;
  }

  .container-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .box {
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    width: 14rem;
    height: 3rem;
    margin: 0 auto;
    padding: 1rem;
  }

  .content-skills {
    display: flex;
    gap: 1rem;
    width: calc(100% - 2rem);
    margin: 0 auto;
  }

  .box h1 {
    font-size: 2rem;
  }

  .box p {
    font-size: 1rem;
  }

  .content-skills .skill {
    width: 6rem;
  }

  .content-skills .skill img {
    width: 2rem;
  }

  .container-projects {
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
  }

  .content-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: calc(100% - 2rem);
  }

  .content-projects img {
    width: 100%;
  }

  .project {
    min-width: 21.5rem;
    max-width: 80%;
  }

  .courses-formations .courses,
  .courses-formations .experiences,
  .courses-formations .formations,
  .project {
    width: calc(100% - 2rem);
    margin: 0 auto;
  }

  .description-courses .title-courses,
  .description-experience .title-experience,
  .description-formation .title-formation,
  .project p {
    font-size: 0.9rem;
  }

  .project h2 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .courses-formations {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .courses-formations .courses h1,
  .courses-formations .experiences h1,
  .courses-formations .formations h1 {
    font-size: 1.4rem;
  }

  .courses .container-image img,
  .experiences .container-image img,
  .formations .container-image img {
    width: 1.5rem;
    padding: 0.1rem;
    aspect-ratio: 1;
  }

  .flex-courses .course,
  .flex-experiences .experience,
  .flex-formations .formation {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: calc(100vw - 2rem);
  }

  .courses .container-image,
  .experiences .container-image,
  .formations .container-image {
    width: 2rem;
    height: 2rem;
  }

  .description-courses .date-inity,
  .description-experience .date-inity,
  .description-formation .date-inity {
    font-size: 0.9rem;
    width: 12rem;
    padding: 0.2rem;
  }

  .courses .container-image::after,
  .experiences .container-image::after,
  .formations .container-image::after {
    left: 1.125rem;
    top: 2.4rem;
  }
}

@media only screen and (min-width: 768px) {
  .desktop-menu a {
    font-size: 1.1rem;
  }

  .about-me h1,
  .container-skills h1,
  .container-projects h1,
  .courses-formations h1 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .main {
    padding-top: 10rem;
  }

  .who-i-am {
    width: calc(100% - 7rem);
    margin: 0 auto;
  }

  .who-i-am h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 1.3rem;
    width: 35vw;
  }

  .content-me {
    display: flex;
    align-items: center;
  }

  .content-me img {
    width: 60%;
  }

  .content-me img:hover {
    transform: scale(1.02);
  }

  .content-informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.5rem auto;
    width: calc(100% - 10rem);
    gap: 1rem;
  }

  .info .title-personal-informations {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .description .informations-1 p,
  .description .informations-2 p {
    font-size: 0.9rem;
  }

  .description .informations-1 span,
  .description .informations-2 span {
    font-size: 0.95rem;
  }

  .download-pdf-button span {
    font-size: 0.9rem;
  }

  .container-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
  }

  .box {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    margin: 0 auto;
    padding: 0.8rem;
  }

  .box p {
    font-size: 1.05rem;
  }

  .content-skills {
    display: flex;
    gap: 1rem;
    width: calc(100% - 5rem);
    margin: 0 auto;
  }

  .content-skills .skill {
    width: 6.5rem;
  }

  .content-skills .skill img {
    width: 2rem;
  }

  .container-projects {
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
  }

  .content-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: calc(100% - 2rem);
  }

  .content-projects img {
    width: 100%;
  }

  .project {
    width: 40%;
  }

  .description-courses .institution,
  .description-experience .company,
  .description-formation .university,
  .courses-formations .date-inity {
    font-size: 0.9rem;
  }

  .description-courses .title-courses,
  .description-experience .title-experience,
  .description-formation .title-formation,
  .project p {
    font-size: 1rem;
  }

  .courses-formations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 3rem);
    margin: 0 auto;
    gap: 1rem;
  }

  .courses-formations .course,
  .courses-formations .formation,
  .courses-formations .experience {
    display: flex;
    align-items: center;
  }

  .courses-formations .formations {
    grid-column: 1;
    width: 100%;
  }
  .courses-formations .experiences {
    grid-column: 2;
    width: 100%;
  }

  .courses-formations .courses {
    grid-column: span 2;
    margin-top: 4rem;
  }

  .courses-formations .flex-courses {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .experiences,
  .formations,
  .courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-courses .course {
    max-width: 25rem;
  }
}

@media only screen and (min-width: 1024px) {
  .courses-formations .courses h1,
  .courses-formations .experiences h1,
  .courses-formations .formations h1 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .about-me h1,
  .container-skills h1,
  .container-projects h1 {
    font-size: 2.3rem;
    font-weight: 700;
  }

  .main {
    padding-top: 12rem;
    gap: 3rem;
  }

  .menu-navigate {
    gap: 1rem;
  }

  .title-about {
    font-size: 3.2rem;
    font-weight: 500;
    padding-top: 1.5rem;
  }

  .who-i-am .content-me {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    max-width: 60rem;
    margin: 0rem auto;
  }

  .container-image {
    width: 90vw;
    border-radius: 100%;
    transition: transform 0.3s ease;
  }

  .content-informations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .info {
    width: calc(100% - 11rem);
    margin: 3rem auto;
  }

  .info .title-personal-informations {
    font-weight: 500;
    font-size: 1.4rem;
  }

  .description {
    display: flex;
    align-items: center;
    width: 100%;
    grid-column: 1;
  }

  .informations-1 button,
  .informations-2 button {
    width: 20rem;
  }

  .description div {
    gap: 0.8rem;
  }

  .container-boxes {
    display: flex;
    grid-column: 2;
    flex-wrap: wrap;
  }

  .box {
    gap: 1rem;
    width: 20rem;
    height: 4rem;
    border-radius: 0.3rem;
  }

  .box h2 {
    font-size: 2rem;
    padding: 1rem;
  }

  .box p {
    font-size: 1.2rem;
  }

  .content-skills {
    gap: 2rem;
    padding: 0.5rem;
    max-width: calc(100% - 11rem);
    margin-top: 3.5rem;
  }

  .content-skills .skill {
    gap: 0.4rem;
    width: 8.5rem;
  }

  .content-skills .skill h4 {
    font-size: 1rem;
  }

  .content-skills .skill img {
    width: 2.5rem;
  }

  .project h2 {
    font-size: 1.9rem;
    font-weight: 600;
  }

  .project p {
    font-size: 1rem;
  }

  .project {
    gap: 0.7rem;
    max-width: 30rem;
  }

  .courses-formations .experiences,
  .courses-formations .formations {
    flex-direction: column;
    gap: 1.2rem;
    grid-row: 1;
    width: 30rem;
    display: flex;
  }

  .description-courses .title-courses,
  .description-experience .title-experience,
  .description-formation .title-formation {
    font-size: 1.1rem;
  }

  .courses-formations .experiences,
  .courses-formations .formations {
    flex-direction: column;
    gap: 1.2rem;
    grid-row: 1;
    width: 30rem;
    display: flex;
  }

  .courses .flex-courses,
  .experiences .flex-experiences,
  .formations .flex-formations {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .courses-formations {
    display: grid;
    grid-template-rows: auto auto;
    gap: 5rem;
  }

  .courses-formations .formations {
    justify-self: center;
    grid-column: 1;
    justify-self: center;
  }

  .courses-formations .experiences {
    grid-column: 2;
    justify-self: center;
  }

  .courses-formations .courses {
    display: flex;
    flex-direction: column;
    justify-self: center;
    grid-column: 1;
    grid-row: 2;
    width: 30rem;
    padding-bottom: 10rem;
  }
}
