:host {
  a {
    text-decoration: none;
    cursor: pointer;
    color: var(--byzantineBlue);
    transition: color 0.3s ease-in-out;
  }

  a:hover {
    color: var(--neonBlue);
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, var(--gray100), var(--blue150));
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 25rem;
    padding: 2.5rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.625rem;
    backdrop-filter: blur(0.625rem);
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
  }

  .container img {
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
  }

  .login-box {
    position: relative;
    padding: 1.25rem;
    text-align: center;
  }

  .login-box h2 {
    margin: 0 0 1.25rem;
    padding: 0;
    color: var(--black750);
    font-size: 1.5rem;
    font-weight: 600;
  }

  .input-box {
    position: relative;
    margin-bottom: 1.25rem;
  }

  .input-box input {
    width: 100%;
    padding: 0.625rem 0;
    background: transparent;
    border: none;
    border-bottom: 0.125rem solid var(--black750);
    outline: none;
    color: var(--black750);
    font-size: 1rem;
  }

  .input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.625rem 0;
    pointer-events: none;
    transition: 0.5s;
    color: var(--gray600);
  }

  .input-box input:focus + label,
  .input-box input:valid + label {
    top: -1.25rem;
    left: 0;
    color: var(--black750);
    font-size: 0.75rem;
  }

  .button-box {
    text-align: center;
  }

  .button-box button {
    width: 100%;
    padding: 0.625rem;
    background: var(--black750);
    border: none;
    color: var(--whiteFull);
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 0.2rem;
  }

  .button-box button:hover {
    background: var(--gray750);
  }

  .forgot-password {
    display: flex;
    justify-content: end;
    margin: 0.5rem 0 1rem 0;
  }
}
