<section class="main">
  <a class="redirect-home" href="/">
    <img src="/assets/Images/casa.svg" alt="Home" />
  </a>
  <div class="about-me">
    <h1 class="title-about">Sobre <span> Mim</span></h1>
    <div class="info">
      <h2 class="title-personal-informations">Informações Pessoais</h2>
      <article class="container-grid">
        <div class="description">
          <div>
            <p>Nome: <span>Micael Alves Ribeiro de Santana</span></p>
            <p>Idade: <span>23 anos</span></p>
            <p>Idiomas: <span>Português e Inglês</span></p>
            <p>Estado Civil: <span>Casado</span></p>
          </div>
          <div>
            <p>Email: <span>micaelsantana.dev&#64;gmail.com</span></p>
            <p>Endereço: <span>Rua E Zona Oeste</span></p>
            <p>Cidade: <span>Ribeira do Pombal/BA</span></p>
            <p>Freelance: <span>Disponível</span></p>
          </div>

          <a href="/assets/Documents/curriculo.pdf" download="curriculo.pdf">
            <button>
              <span>Baixar Currículo</span>
              <div>
                <img src="/assets/Images/download.svg" alt="" />
              </div>
            </button>
          </a>
        </div>
        <div class="container-boxes">
          <div class="box">
            <h1>10</h1>
            <p>Certificados</p>
          </div>
          <div class="box">
            <h1>1</h1>
            <p>Graduação</p>
          </div>
          <div class="box">
            <h1>7</h1>
            <p>Projetos finalizados</p>
          </div>
        </div>
      </article>
    </div>
    <div class="style-border"></div>
  </div>

  <div class="container-skills">
    <h1>Habilidades</h1>
    <div class="content-skills">
      <div class="skill">
        <h4>Angular</h4>
        <img src="/assets/Images/angular.svg" alt="Angular" />
      </div>
      <div class="skill">
        <h4>Typescript</h4>
        <img src="/assets/Images/typescript.svg" alt="Typescript" />
      </div>
      <div class="skill">
        <h4>NestJS</h4>
        <img src="/assets/Images/nestjs.svg" alt="NestJS" />
      </div>
      <div class="skill">
        <h4>Node</h4>
        <img src="/assets/Images/node.svg" alt="NodeJS" />
      </div>
      <div class="skill">
        <h4>Express</h4>
        <img src="/assets/Images/express.svg" alt="Express" />
      </div>
      <div class="skill">
        <h4>Javascript</h4>
        <img src="/assets/Images/javascript.svg" alt="Javascript" />
      </div>
      <div class="skill">
        <h4>PHP</h4>
        <img src="/assets/Images/php.svg" alt="PHP" />
      </div>
      <div class="skill">
        <h4>React</h4>
        <img src="/assets/Images/react.svg" alt="React" />
      </div>
      <div class="skill">
        <h4>NextJS</h4>
        <img src="/assets/Images/nextjs.svg" alt="NextJS" />
      </div>
      <div class="skill">
        <h4>HTML5</h4>
        <img src="/assets/Images/html.svg" alt="HTML5" />
      </div>
      <div class="skill">
        <h4>CSS</h4>
        <img src="/assets/Images/css.svg" alt="CSS3" />
      </div>
      <div class="skill">
        <h4>PostgreSQL</h4>
        <img src="/assets/Images/postgresql.svg" alt="PostgreSQL" />
      </div>
      <div class="skill">
        <h4>Mysql</h4>
        <img src="/assets/Images/mysql.svg" alt="Mysql" />
      </div>
      <div class="skill">
        <h4>Git</h4>
        <img src="/assets/Images/git.svg" alt="Git" />
      </div>
    </div>
  </div>

  <div class="container-projects">
    <h1>Projetos</h1>
    <div class="content-projects">
      <div class="project">
        <img src="/assets/Images/florest.jpg" alt="floresta" />
        <p class="created">
          Criado em: <span class="date">Junho, 20 2024</span>
        </p>
        <h2>Advocacia Santana</h2>
        <p>
          Projeto Fullstack para uma advogada especialista em direitos bancarios
        </p>
      </div>
      <div class="project">
        <img src="/assets/Images/florest.jpg" alt="floresta" />
        <p class="created">
          Criado em: <span class="date">Junho, 20 2024</span>
        </p>
        <h2>Advocacia Santana</h2>
        <p>
          Projeto Fullstack para uma advogada especialista em direitos bancarios
        </p>
      </div>
      <div class="project">
        <img src="/assets/Images/florest.jpg" alt="floresta" />
        <p class="created">
          Criado em: <span class="date">Junho, 20 2024</span>
        </p>
        <h2>Advocacia Santana</h2>
        <p>
          Projeto Fullstack para uma advogada especialista em direitos bancarios
        </p>
      </div>
      <div class="project">
        <img src="/assets/Images/florest.jpg" alt="floresta" />
        <p class="created">
          Criado em: <span class="date">Junho, 20 2024</span>
        </p>
        <h2>Advocacia Santana</h2>
        <p>
          Projeto Fullstack para uma advogada especialista em direitos bancarios
        </p>
      </div>
      <div class="project">
        <img src="/assets/Images/florest.jpg" alt="floresta" />
        <p class="created">
          Criado em: <span class="date">Junho, 20 2024</span>
        </p>
        <h2>Advocacia Santana</h2>
        <p>
          Projeto Fullstack para uma advogada especialista em direitos bancarios
        </p>
      </div>
      <div class="project">
        <img src="/assets/Images/florest.jpg" alt="floresta" />
        <p class="created">
          Criado em: <span class="date">Junho, 20 2024</span>
        </p>
        <h2>Advocacia Santana</h2>
        <p>
          Projeto Fullstack para uma advogada especialista em direitos bancarios
        </p>
      </div>
    </div>
    <div class="style-border-projects"></div>
  </div>

  <div class="courses-formations">
    <div class="courses">
      <h1>Cursos</h1>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
    </div>
    <div class="formations">
      <h1>Formações</h1>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
      <h3>teste</h3>
    </div>
  </div>
</section>
